<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Prevent access to dot files
    RewriteRule ^\.(.*)$ - [F]

    # Serve existing files directly
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Fallback to index.php
    RewriteRule ^ index.php [L]
</IfModule>

# Custom Security Headers
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-XSS-Protection "1; mode=block"
</IfModule>
